<div class="col-md-11">

    <form class="form-horizontal box">
        <fieldset>
            <legend>User Registration</legend>
            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">User Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputUserName" placeholder="User Name" type="text" required="true" ng-model="userData.username">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" placeholder="Password" type="password"  required="true" ng-model="userData.password">
                </div>
            </div>

            <div class="form-group">
                <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" type="password"  required="true" ng-model="userData.confirmpassword">
                </div>
            </div>

            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputName" placeholder="Name" type="text"  required="true"  ng-model="userData.name">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" placeholder="Email" type="text"  required="true"  ng-model="userData.email" >
                </div>
            </div>

            <div class="form-group">
                <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPhone" placeholder="Phone number" type="text"  required="true" ng-model="userData.phone">
                </div>
            </div>

            <div class="form-group">
                <label for="townsId" class="col-lg-2 control-label">Towns</label>
                <div class="col-lg-10">
                    <select class="form-control" id="townsId"  ng-model="userData.townId">
                        <option value="null">(None)</option>
                        <option ng-repeat="town in towns"
                                value="{{town.id}}">{{town.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" ng-click="register(userData, registerForm)" class="button">Register</button>
                    <a href="#/login" class="link pull-right">Login here</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
