
<div class="row">
    <div class="adds col-md-8">
        <ul>
            <!--    AD     -->
            <li>
                <div class=" well col-md-11 "  ng-repeat="ad in data.ads" >
                    <div class="row">
                        <!--    AD Header     -->
                        <h3 class="pull-left ">{{ ad.title }}</h3>
                        <span class="pull-right">{{ ad.date | date: 'dd-MMM-yyyy' }}</span>
                    </div>
                    <div class="row">
                        <!--    AD Container    -->
                        <div class="col-md-4">
                            <img class="imgContainer" ng-src="{{ad.imageDataUrl}}" src="../img/defImg.png">
                        </div>
                        <div class="col-md-8">
                            <p>{{ ad.text }}</p>
                            <ul>
                                <li>
                                    <strong> Name: </strong> <span> {{ ad.ownerName }}</span>
                                </li>
                                <li>
                                    <strong> email:</strong> <span> {{ ad.ownerEmail }} </span>
                                </li>
                                <li>
                                    <strong> tel: </strong> <span> {{ ad.ownerPhone }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
