<div class="row">
    <div class="adds col-md-8">
        <ul>
            <!--    AD     -->
            <li>
                <div class=" well col-md-11 ">
                    <div class="row">
                        <!--    AD Header     -->
                        <h3 class="pull-left">Iphone</h3>
                        <span class="pull-right">11.11.2011</span>
                    </div>
                    <div class="row">
                        <!--    AD Container    -->
                        <div class="col-md-4">
                            <img class="imgContainer" src="300px-No_image_available.svg.png">
                        </div>
                        <div class="col-md-8">
                            <p>I have iPhone 4S 16GB for sale. Good price. Like a new.
                                Please call me in the evenings or at weekends.
                            </p>
                            <ul>
                                <li>
                                    <strong> Name: </strong> <span>{{ Victor}}</span>
                                </li>
                                <li>
                                    <strong> email:</strong> <span>{{ test@mail.bg }}</span>
                                </li>
                                <li>
                                    <strong> tel: </strong> <span>{{ +3596622846}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
